* {
    box-sizing: border-box;
}

body {
    background-color: #35363A;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.content {
    display: block;
    width: 30%;
    background-color: #fff;
    padding: 30px;
    border-radius: 30px;
    margin-top: 30px;
    min-width: 400px;
}

.item {
    display: inline-block;
    width: 100%;
}

h3 {
    text-align: center;
}

.sss {
    border: none;
    border-radius: 100px;
    background-color: #6482F9;
    padding: 15px 45px;
    color: #fff;
    font-weight: 600;
}

input, select {
    width: 100%;
    min-height: 35px;
}


.msgbox {
    padding: 20px;
    border-radius: 100px;
    margin-top: 10px;
    width: 100%;
    background-color: #6482F9;
    color: #fff;
    text-align: center;
}